<a href="https://colab.research.google.com/github/PRAKASHMS7/Phishing-Detection-By-Using-ML-Models/blob/main/PATTERN_QUESTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for i in range(4,0,-1)
# start: The first number in the sequence.
# stop: The loop stops before reaching this number.
# step: The increment (or decrement if negative)

SUQARE

In [ ]:
row=int(input("Enter a row Number: "))
column=int(input("Enter a column number"))
for i in range(row):
  for j in range(column):
    print("*",end=" ")
  print()

Enter a row Number: 4
Enter a column number4
* * * *
* * * *
* * * *
* * * *

RECTANGLE

In [ ]:
row=int(input("Enter a row number"))
column=int(input("Enter a column number"))
for i in range(row):
  for j in range(column):
    print("*",end=" ")
  print()

Enter a row number4
Enter a column number5
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:

def patterns(row,column):
  for i in range(row):
    for j in range(column):
      print("*",end=" ")
    print()
patterns(4,5)

* * * * *
* * * * *
* * * * *
* * * * *

TRAINGLE or PYRAMID

In [ ]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

Enter the number of rows: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
row=int(input("Enter a number: "))
for i in range(row,0,-1):
  print(" "*(row-i)+"* "*i)

Enter a number: 6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
row=int(input("Enter a number"))
for i in range(1,row+1):
  print("*  " *i)

Enter a number6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
row=int(input("Enter the number: "))
for i in range(1,row+1):
  print(" " * (row-i)+"*"*i)

Enter the number: 6
     *
    **
   ***
  ****
 *****
******

In [ ]:
row=int(input("Enter a number: "))
for i in range(row,0,-1):
  print("*"*i + " "*(row-i))

Enter a number: 5
*****
****
***
**
*

In [ ]:
row=int(input("Enter a number: "))
for i in range(row,0,-1):
  print(" "*(row-i)+"*"*i)

Enter a number: 5
*****
 ****
  ***
   **
    *

In [ ]:
rows = int(input("Enter the number of rows: "))

# Loop to print the pattern
for i in range(rows, 0, -2):  # Decreasing by 2 to match the pattern
    spaces = (rows - i) // 2  # Spaces increase as i decreases
    print(" " * spaces *2 + "* " * i)

Enter the number of rows: 6
* * * * * *
  * * * *
    * *

In [ ]:
rows = int(input("Enter a number"))

# Upper pyramid
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

# Lower inverted pyramid
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

Enter a number5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *